.DropDown__container{
    min-width:130px;
}
.DropDown__content{
    position:fixed;
    z-index:2;
    right:0;
    overflow:auto;
    margin:0;
    -webkit-transform: translate3d(0,0,0);
}
.DropDown__button{
    height:50px;
    width:50px;
    padding:10px;
    border:none;
    outline:none;
}
.DropDown__button:hover{
    cursor: pointer;
}