.DropDownMenu{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0px;
    position:relative;
}
.DropDownMenu__buttonsContainer{
    display:flex;
    justify-content: space-evenly;
    margin:0;
    padding:0;
    width:100%;
    max-width:800px;
}
.DropDownMenu__button{
    color:#FFFFFF;
    letter-spacing: 1.75px;
    line-height: .75;
    font-weight:normal;
    padding:15px 25px;
    text-align:center;
    border:none;
    margin:0;
    font-size:18px;
    text-transform:uppercase;
    outline:none
}
.DropDownMenu__button:hover{
    cursor: pointer;
}
.DropDownMenu__content{
    display:flex;
    flex-direction:column;
    position:relative;
    padding:10px;
    width:80%;
    z-index:5;
}
.DropDownMenu__closeButton{
    width:25px;
    height:25px;
    background:none;
    border:none;
    font-size:28px;
    color:#6D7278;
    align-self: flex-end;
    outline:none;
}
.DropDownMenu__closeButton:hover{
    cursor: pointer;
}
@media screen and (max-width:550px){
    .DropDownMenu__button{
        font-size:12px;
        padding:10px 15px;
    }
}

@media screen and (min-width:551px) and (max-width:750px){

}
@media screen and (min-width:751px){

}