.TextSection{
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:70%;
    padding:20px;
}
.TextSection__label{
    font-size:40px;
    letter-spacing: 2.5px;
    line-height: 50px;
    margin:0;
    width:100%;
    font-weight:300;
}
.TextSection__body{
    color: #000000;
    font-size: 16px;
    margin: 5px;
    width:100%;
    letter-spacing: 2.5px;
    line-height: 20px;
}
@media screen and (max-width:501px){
  .TextSection__label{
      font-size:28px;
  }
  .TextSection__body{

  }
}
@media screen and (max-width:1050px){
 
}